//Libs
@import "compass/reset";

//Fonts
@import "fonts";
$fira: "fira_sans", sans-serif;
p, span, a { font-family: $fira; font-size: 20px; }

//Vars
$black1: #1a1a1a;
$black2: #0d0d0d;
$gray:   #666;
$red:    #cd3a2f;

//UI
@import "ui/main";
@import "ui/menu";
@import "ui/contact";
@import "ui/accueil";
@import "ui/work-1-shaka";
@import "ui/work-2-UPS";
@import "ui/work-3-infoecommerce";
@import "ui/work-4-urban";
@import "ui/work-5-musee";




