#accueil
{
	overflow: auto;
	width: 100%;
	height: 100%;
	background: url("../img/background-accueil.jpg") no-repeat center center fixed;
	background-size: cover;
}

#center-presentation
{
	margin: 0 auto;
	width: 295px;
	text-align: center;

	span
	{
		display: block;
		text-transform: uppercase;

		&:nth-of-type(1){
			color: $black1;
			margin-bottom: 14px;
		}

		&:nth-of-type(2){
			color: $red;
			font-size: 57px;
			font-weight: 700;
		}

		&:nth-of-type(3){
			margin-top: -4px;
			margin-bottom: 34px;
			color: $black2;
		}
	}

	p,a 
	{
		font-weight: 300;
		font-size: 16px;
		text-transform: uppercase;
	}

	p
	{
		margin: 0 auto 19px;
		width: 180px;
		color: $gray;
	}

	a {
		position: relative;
		color: $black2;
		text-decoration: none;
		transition: color .15s ease-in-out;

		&:after
		{
			content:'';
		    position:absolute;
		    width: 100%;
		    height: 0;    
		    left:0;
		    bottom: 4px;
		    border-bottom: 1px solid $black2;
		    transition: border-color .15s ease-in-out;
		}

		&:hover {
			color: #AAA;
			transition: color .15s ease-in-out;

			&:after
			{
				border-bottom: 1px solid #AAA;
				transition: border .15s ease-in-out;
			}
		}
	}
}