#about {
	z-index: 90;
	display: none;
	position: fixed;
	overflow-y: scroll; 
	top: 0;
	height: 100%;
	width: 100%;
	background-color: $menu-blue;
}

#about-zone1 {
	z-index: 91;
	display: block;
	padding: 220px 0 70px;
	width: 100%;
	color: white;
	text-align: center;
	>div:first-child {
		margin: 0 auto;
		width: 550px;
		>span {
			&:nth-of-type(1) {
				display: block;
				margin-bottom: 8px;
				font-size: 55px;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: -2px;
			}
			&:nth-of-type(2) {
				display: block;
				margin-bottom: 90px;
				font-size: 18px;
				text-transform: uppercase;
				text-align: center;
			}

		}
		p {
			text-align: center;
			&:nth-of-type(1) {
				margin-bottom: 45px;
			}
			&:nth-of-type(2) {
				margin-bottom: 80px;
				font-size: 18px;
				font-weight: 300;
				font-style: italic;
			}
		}
	}
}

#about-zone2 {
	z-index: 91;
	padding: 70px 0 80px;
	width: 100%;
	background: #0379a0;
	span {
		display: block;
		margin-bottom: 60px;
		text-transform: uppercase;
		color: white;
		font-size: 55px;
		font-weight: 700;
		text-align: center;
	}
	form {
		display: block;
		margin: 0 auto;
		width: 429px;
	}
	input[type="text"], input[type="submit"], textarea {
		-moz-box-sizing:border-box;
	    -webkit-box-sizing:border-box;
	    box-sizing:border-box;
		display: block;
		margin: 0 0 9px 0;
		border: 2px solid white;
		padding: 6px 6px 4px 6px;
		width: 100%;
		color: white;
		font-size: 16px;
		background: #0379a0;
		transition: all .15s ease-in-out;
	}
	input[type="submit"]:hover {
		background: white;
		color: #0379a0;
		transition: all .15s ease-in-out;
	}

}
